@media(max-width: 1200px){
    .factory__benefits{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .factory__benefits-item{
        width: 45%;
    }
    .factory__images{
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
    .factory__images img{
        width: 100%;
    }
    .process__box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media(max-width: 1080px){
    .products__info-img{
        width: 100px;
        height: 100px;
    }
    .factory__achievements-inner{
        flex-wrap: wrap;
    }
    .factory__achivements-item{
        width: 45%;
    }
    .factory__post{
        margin-bottom: 20px;
    }
}
@media(max-width: 1000px){
    .header__menu {
        gap: 20px;
    }
    .products__gallery{
        gap: 10px;
    }
    .power__info{
        flex-wrap: wrap;
    }
    .power__info-item{
        width: 45%;
    }
    .factory__info{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 900px){
    .header__menu{
       display: none;
    }
    .hamb{
        display: flex;
    }
    .hamb-popup{
        top: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        transition: 0.5s;
        z-index: 50; 
        overflow: auto;
        padding-top: 120px;
    }
    .hamb-popup.open{
        right: 0;
    }
    .hamb-popup .header__menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 90%;
        height: 50%;
    }
    .delivery__collections-link{
        width: 30%;
        text-align: center;
        font-size: 10px;
    }
}
@media(max-width: 800px){
    .products__info-img{
        width: 50px;
        height: 50px;
    }
}
@media(max-width: 767.9px){
    .header__content-title{
        font-size: 48px;
    }
    .header__content-text{
        font-size: 18px;
    }
    .products__gallery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .products__gallery-item{
        width: 45%;
    }
    .products__info{
        margin-bottom: 50px;
    }
    .power,
    .products,
    .factory,
    .process,
    .delivery,
    .question{
        padding: 50px 0;
    }
    .factory__benefits{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .factory__benefits-item{
        width: 100%;
    }
    .factory__benefits-text{
        max-width: 100%;
    }
    .factory__title:before{
        left: 0;
    }
    .factory__post{
        margin-top: 0;
    }
    .factory__achivements-item{
        width: 100%;
    }
    .factory__achivements-value:after{
        width: 70%;
        margin: 20px auto;
    }
    .factory__block-title{
        font-size: 28px;
    }
    .process__box{
        display: flex;
        flex-direction: column;
    }
    .delivery__collections-link:before{
        top: 15px;
        left: 5px;
    }
    .delivery__box{
        flex-direction: column;
    }
    .delivery__box-item,
    .delivery__box-text{
        max-width: 100%;
    }
    .delivery__slider{
        margin-bottom: 120px;
    }
    .slick-prev{
       bottom: -80px;
    }
    .slick-next{
        bottom: -80px;
    }
    .footer__inner{
        flex-direction: column;
        row-gap: 50px;
    }
}
@media(max-width: 600px){
    .delivery__collections-link{
        padding-left: 50px;
        padding-bottom: 20px;
    }
}
@media(max-width: 550px){
    .delivery__collections-link{
        padding-left: 50px;
    }
}
@media(max-width: 500px){
    .header__btn{
        font-size: 10px;
        width: 110px;
    }
    .header__top{
        row-gap: 30px;
    }
    .header__logo{
        width: 100%;
        text-align: center;
        order: 99;
    }
    .products{
        padding: 50px 0;
    }
    .products__gallery-item{
        width: 100%;
        height: 300px;
    }
    .power__info-item{
        width: 100%;
    }
    .products__info{
        display: none;
    }
    .power__btn{
        width: 100%;
    }
    .factory__title:before{
        display: none;
    }
    .question__title{
        font-size: 36px;
    }
    .delivery__collections-link{
        padding: 20px;
        font-size: 8px;
    }
    .delivery__collections-link:before{
        display: none;
    }
    .slick-track {
        height: 370px;
    }
}
@media(max-width: 400px){
    h2.title{
        font-size: 36px;
    }
    .factory__item{
        background-size: 40px 40px;
    }
    .process__box-item{
        padding: 10px;
    }
    .process__box-item:before{
        display: none;
    }
}



